.container-centered{
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

#wave-reverse{
   opacity: 4%;
   transform: rotate(180deg);
}
  
#wave{
   opacity: 4%;
   margin-bottom: -4px;
}

 /* nav-bar */

 nav{
    background-color: #255ee9;
 }


 

#nav-inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 80px;
        
}
        
        
   
#logo{
    display: flex;
    align-items: center;
    max-width: 125px;
    min-height: 80px;
    
}

#login, #signup{
    max-width: 100px;
    min-height: 80px;
    
}

#login .small-btn:hover{
    background-color: gray;
    color: white;
}

#links ul{
    display: flex;
    flex-direction: row;
    
    gap: 30px;
    list-style-type: none;
}
#links{
    display: flex;
    align-items: center;
}
#links li{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100px;
    min-height: 40px;


    
    
}

#links ul li a:hover{
    transition-duration: 0.4s;
    
    color: black;
    
}
#links li a{
    color: white;
    text-decoration: none;
}

#login{
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-btn{
width: 80px;
height: 40px;

border: none;
border-radius: 30px;

}



/* /nav-bar */

/* jambo */

header{
    background-image: url('../img/jumbo.png');
    height: 600px;
    background-size: cover;
}
#jambo{
    display: flex;
    flex-flow: column ;
    justify-content: center;
    align-items: center;
    
    min-height: 600px; 
                                         /* era solo "height", per questione di responsive è meglio dare un'altezza non fissa. */
}
    

#title-article{
    width: 445px;
    height: 40px;
    color: white;
    text-align: center;
    
}

#article-text{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 700px;
    min-height: 100px;
   margin: 20px 0;
}
   
   
   

#article-text p{
    font-size: 1.2em;
    text-align: center;
    color: white;
}

#download-mac{
    
    width: 150px;
    height: 50px;
    font-size: 0.9em;
    border: none;
    border-radius: 30px;
    background-color: white;
    

}

.buttons #download-mac:hover{
    background-color: gray;
    color: white;
}
#browser-open{
    display: inline-block;
    width: 200px;
    height: 50px;
    font-size: 0.9em;
    border: none;
    border-radius: 30px;
    color: white;
    background-color: #23272a;
}

.buttons #browser-open:hover{
    background-color: white;
    color: black;
}

/* /jambo */

/* first section */
.main-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 700px;
    
}

#section-img1{
    max-width: 600px;
    min-height: 400px;
    
}

#text-section1{
    max-width: 250px;
    min-height: 400px;
}
    

 h1{
    font-weight: 700;
    font-size: 2em;
}
    
p{
    font-size: 20px;
    padding: 20px 0;
}

/* /first-section */

/* second section */
#grey-section{
    background-color: #f6f6f6;
}


#section-img2{
   max-width: 600px ;
   min-height: 400px;
   

}

#text-section2{
  max-width: 250px;
  min-height: 300px;
   
}

/* /second-section */

/* third-section */

#section-img3{
    max-width: 700px;
    min-height: 450px;
    
}


#text-section3{
    max-width: 250px ;
    min-height: 300px;
    
}

/* /third-section */

/* last-section */
.last-section{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    min-height: 1000px;
    
}

#last-sect-title, #last-sect-text{
    
    max-width: 1000px;
    text-align: center;
    
}

#last-sect-img{
    max-width: 1000px;
    min-height: 550px;
    

}

.last-section #download-mac{
    color: white;
    background-color: #7289da ;
}

.last-section #download-mac:hover{
    background-color: gray;
    color: black;
}

#last-sect-credits{
    background-image: url('../img/stars.svg');
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    width: 500px;
    
}
    
#last-sect-credits h2{
    margin: 20px 0;
}
    
    
/* /Last-section */
    
/* footer */

#black-section{
    background-color: #23272a ;
}
 


.credits{
    color: white;
}
.credits-first-section{
    
   min-height: 600px; 
   
}

.credits ul{
    list-style-type: none;

}
.credits-first-section{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    min-height: 400px;
    border-bottom: 2px solid blue;
    
}

.credits-first-section h2, .credits-first-section li:first-child{
    padding-top: 40px;
    font-weight: bold;
    color: #4a78d3;
}

#contacts{
    max-width: 200px;
    
    
}

#lang{
    margin: 10px 0;
}
#flag{
    height: 15px;
    background-size: 20px;
}


.credits ul{
    line-height: 30px;
}

.credits-last-section{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    height: 200px;
}
    


.credits-last-section .small-btn{
    color: white;
    background-color: #7289da;
}

.credits-last-section .small-btn:hover{
    background-color: white;
    color: black;
}

/* /footer */

    

    


    




    
    
    
 

    
    
    
    
    
    
    

