.container-centered{
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

 /* nav-bar */

 nav{
    background-color: #213e88;
 }
#nav-inner{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        min-height: 80px;
        
}
        
        
   
#logo{
    display: flex;
    align-items: center;
    max-width: 125px;
    min-height: 80px;
    
}

#login, #signup{
    max-width: 100px;
    min-height: 80px;
    
}

#links ul{
    display: flex;
    flex-direction: row;
    
    gap: 30px;
    list-style-type: none;
}
#links{
    display: flex;
    align-items: center;
}
#links li{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100px;
    min-height: 40px;
    
}

#links li a{
    color: white;
    text-decoration: none;
}

#login{
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-btn{
width: 80px;
height: 40px;

border: none;
border-radius: 30px;

}

/* /nav-bar */

/* jambo */

header{
    background-image: url('../img/jumbo.png');
    height: 600px;
    background-size: cover;
}
#jambo{
    display: flex;
    flex-flow: column ;
    justify-content: center;
    align-items: center;
    
    min-height: 600px; 
                                         /* era solo "height", per questione di responsive è meglio dare un'altezza non fissa. */
}
    

#title-article{
    width: 445px;
    height: 40px;
    color: white;
    text-align: center;
    
}

#article-text{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 700px;
    min-height: 100px;
   margin: 20px 0;
   
   
   
}

#article-text p{
    font-size: 1.2em;
    text-align: center;
    color: white;
}

#download-mac{
    
    width: 150px;
    height: 50px;
    font-size: 0.9em;
    border: none;
    border-radius: 30px;
    background-color: white;
    

}

#browser-open{
    display: inline-block;
    width: 200px;
    height: 50px;
    font-size: 0.9em;
    border: none;
    border-radius: 30px;
    color: white;
    background-color: #23272a;
}

/* /jambo */

/* first section */
.main-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 700px;
    
}

#section-img1{
    max-width: 600px;
    min-height: 400px;
    
}

#text-section1{
    max-width: 250px;
    min-height: 400px;
}
    

 h1{
    font-weight: 700;
    font-size: 2em;
}
    
p{
    font-weight: 400;
    padding: 20px 0;
}
    
    
    
    
    
/* /first-section */

/* second section */
#grey-section{
    background-color: #f6f6f6;
}


#section-img2{
   max-width: 600px ;
   min-height: 400px;
   

}

#text-section2{
  max-width: 250px;
  min-height: 300px;
   
}

/* /second-section */

/* third-section */

#section-img3{
    max-width: 700px;
    min-height: 450px;
    
}


#text-section3{
    max-width: 250px ;
    min-height: 300px;
    
}

/* /third-section */

/* last-section */
.last-section{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    height: 1400px;
    background-color: lightgreen;
}

#last-sect-title, #last-sect-text{
    height: 50px;
    width: 1000px;
    background-color: lightcoral;
}

#last-sect-img{
    width: 1000px;
    height: 550px;
    background-color: lightcoral;

}

#last-sect-credits{
    width: 600px;
    height: 80px;
    background-color: lightcoral;

}

/* /Laset-section */


/* footer */

    
.credits{
   height: 600px; 
   background-color: lightgray;
}

.credits ul{
    list-style-type: none;

}
.credits-first-section{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    height: 400px;
    border-bottom: 2px solid blue;
    
}


#contacts{
    width: 250px;
    height: 150px;
    background-color: lightskyblue;

}

#products, #companies, #norms{
    height: 250px;
    width: 110px;
    background-color: lightblue;
}

#resources{
    width: 120px;
    height: 400px;
    background-color: lightblue;
}

.credits-last-section{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    height: 200px;
}
    
    
 

